.head-background {

    -fx-background-color: linear-gradient(to bottom left, #de00c8, #19fdff);
}
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #e1faff;
    -fx-primarytext : #e1faff;
}
.button{
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

/*Color prompt textfield*/
.text-field {
    -fx-prompt-text-fill: #e1faff;
    -fx-text-fill: -fx-secondary;
}

/*Color table view*/
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #de00c8;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view {


    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #de00c8;
}

#labelAutres {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
}

#labelPolysports{
    -fx-font-size: 30pt;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}

#labelSince2019
{
    -fx-text-fill: white;
}

#eyeBtn{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
}

#btnAdd{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
}

#btnSearch{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
}

#filtreTextField{
    -fx-text-fill: #de00c8;
}

#btnSupprimerFiltre{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
}